nav a i {
    margin-right: 5px;
}
.breadcrumb-item.active {
    color: #6c757d;
    font-size: 25px;
    font-weight: 700;
}
.alert a {
    color: #fff;
    text-decoration: none;
}
p.help-block {
    color: red;
    font-size: 14px;
    font-style: italic;
}

tr > th:first-child,
tr > th:last-child,
tr.gradeX td:first-child,
tr.gradeX td:last-child {
    text-align: center;
}

.permission-table {
    border-collapse: collapse;
    border-spacing: 0;
}
.permission-table td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}
.permission-table th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}
.permission-table .option {
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    width: 80px;
}
.permission-table .title {
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    width: 100px;
}

.permission-table .content {
    text-align: center;
    vertical-align: top;
}

.permission-table th.content:first-child {
    border-top: none;
    border-left: none;
}

.table .search-input-table{
    width: 100%;
}
.table th.actions{
    vertical-align: middle;
}

.table th:last-child{
    width: 150px;
}

.table tr > th:first-child{
    width: 80px;
}

.preview-image{
    width: 25%;
}

.imagePreview {
    /* width: 300px; */
    height: 250px;
    background-position: center center;
    background: url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    box-shadow: 0px -3px 6px 2px rgba(0, 0, 0, 0.2);
}
#product-gallery img{
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    height: 280px;
    object-fit: cover;
}
.table tr.filterColumns td {
    padding: 0.75em 0.2em 0.75em 0.5em;
}
/* button to upload image to products*/
form#storage_image .fileContainer {
    width: 100%;
    height: 0;
    /* padding-bottom: 4%; */
}
table#product input._filterText {
    width: 90%;
}

/*margin top 2rem*/
.mt-4 {
    margin-top: 2rem !important;
}
.mt-4-half {
    margin-top: 2.2rem!important;
}
.text-bold{
    font-weight: 700 !important;
}
.font-normal{
    font-size: 16px !important;
}
/*preview image */
.prev-img{
    width: fit-content;
}
/* space between icon and text */
.fas, .far{
    margin-right: 5px;
}

/*effect  product detail*/
.overlay-product-detail {
    opacity: 0.5;
}
.no-overlay-product-detail,
.product-image-thumb:hover {
    opacity: 1;
}

/* width used in income register*/
.w-5{
    width: 5% !important;
}
.w-35{
    width: 35% !important;
}
.w-15{
    width: 15% !important;
}

/* image for thumb product in register */
.img-product-thumb{
    width: 220px;
    height: 220px;
    object-fit: contain;
}

/*styles for social media detail product*/
.facebook:hover i[class*=fa-facebook] {
    color: #1877f2;
}
.whatsapp:hover .fa-whatsapp {
    color: #26cc64;
}
.instagram:hover .fa-instagram {
    color: #f09433;
}
.detail-product-size label:not(.form-check-label):not(.custom-file-label){
    font-weight: 700;
}
/* font weight to product detail*/
.font-weight-300{
    font-weight: 300;
}

/* responsive table*/
.table-responsive {
    overflow-x: scroll;
}

/*searcher section*/
.w-97{
    width: 97%;
}
/* user option navbar*/
.img-size-38 {
    width: 38px;
}

/*input read only*/
.only-read{
    background-color: transparent;
    border: none;
}

/* RESPONSIVE */
@media (max-width: 768px){
    form#storage_image .fileContainer {
        padding-bottom: 14%;
    }
}
@media (max-width: 744px){
    .prev-img{
        width: 65%;
    }
}
@media (max-width:743px){
    table a.btn {
        width: 75%;
        margin-bottom: 5px;
    }
}

@media (min-width: 625px){
    .table-responsive {
        overflow-x: hidden;
    }
}
@media (max-width: 624px){
    .table-responsive {
        overflow-x: scroll;
    }
}
@media (max-width:286px){
    form#storage_image .fileContainer {
        padding-bottom: 18%;
    }
}

@media (min-width:239px) and (max-width:293px){
    .fileContainer {
        padding-bottom: 33%;
    }
    i.fa-images{
        display: none;
    }
}

@media (max-width:238px){
    form#storage_image .fileContainer {
        padding-bottom: 38%;
    }

    form#form-company .fileContainer {
        padding-bottom: 50%;
    }
    i.fa-images{
        display: none;
    }
}